#container{
  background: #deebf7;
  height: 100%;
}
#detailBtn, #updateBtn{
  margin: 10px;
}
html, body{
  height: 100% !important;
  width: 100% !important;
}
#root, #contentForm{
  height: 100% !important;
  width: 100% !important;
}
#myGrid{
  margin-top: 20px;
  margin-left: 20px;
}
#pageHeader{
  margin-left: 10px;
}
#modalHeaderId{
  background: #5e9cd3
}
.updateMessage{
  margin-left: 30px;
}